nav {
  background-color: var(--corporative-color);
}

.navbar .navbar-nav .nav-link {
  color: #ffffff;
}

.sm-icons {
  flex-direction: row;
  &.nav-link {
    padding-right: 1em;
  }
}

.levelSelected {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: white;
}

.logo {
  width: 36px;
}
