.scoring-container {
  font-size: 2rem;
  color: var(--corporative-color);
}

.title {
  color: var(--corporative-color);
}

.btn-corporative {
  background-color: var(--corporative-color);
  color: white;
}
