.home-wrapper {
  padding-top: 88px;
  color: #c0c0c0;
  min-height: 100vh;
  background-image: url('./../../../../../assets/bg1.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
